<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver android:name="com.flipcash.app.shareable.internal.ShareBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.flipcash.app.ACTION_SHARE_CASH_LINK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>